In [1]:

import requests
import schedule
import time
import pandas as pd

url = "https://brasilapi.com.br/api/banks/v1"

req = requests.get(url)

##req.status_code
##req.json()

data = req.json()


df = pd.DataFrame(data)
df.head(2)

       ispb                        name  code                      fullName
0  00000000          BCO DO BRASIL S.A.   1.0          Banco do Brasil S.A.
1  00000208  BRB - BCO DE BRASILIA S.A.  70.0  BRB - BANCO DE BRASILIA S.A.

In [2]:

import requests
import schedule
import time
import pandas as pd

url = "https://brasilapi.com.br/api/cptec/v1/cidade"

req = requests.get(url)

##req.status_code
##req.json()

data = req.json()


df = pd.DataFrame(data)
df.head(2)

                        nome    id estado
0               São Benedito  4750     CE
1  São Benedito do Rio Preto  4751     MA

In [7]:
import requests
import pandas as pd

url = "https://brasilapi.com.br/api/ibge/uf/v1"
req = requests.get(url)
data = req.json()

df = pd.DataFrame(data)

df['regiao_id'] = df['regiao'].apply(lambda id: id['id'])
df['regiao_sigla'] = df['regiao'].apply(lambda sigla: sigla['sigla'])
df['regiao_nome'] = df['regiao'].apply(lambda nome: nome['nome'])

# Dropar a coluna 'regiao' original
df.drop(columns=['regiao'], inplace=True)

df.head(27)

    id sigla                 nome  regiao_id regiao_sigla   regiao_nome
0   11    RO             Rondônia          1            N         Norte
1   12    AC                 Acre          1            N         Norte
2   13    AM             Amazonas          1            N         Norte
3   14    RR              Roraima          1            N         Norte
4   15    PA                 Pará          1            N         Norte
5   16    AP                Amapá          1            N         Norte
6   17    TO            Tocantins          1            N         Norte
7   21    MA             Maranhão          2           NE      Nordeste
8   22    PI                Piauí          2           NE      Nordeste
9   23    CE                Ceará          2           NE      Nordeste
10  24    RN  Rio Grande do Norte          2           NE      Nordeste
11  25    PB              Paraíba          2           NE      Nordeste
12  26    PE           Pernambuco          2           NE      Nordeste
13  27    AL              Alagoas          2           NE      Nordeste
14  28    SE              Sergipe          2           NE      Nordeste
15  29    BA                Bahia          2           NE      Nordeste
16  31    MG         Minas Gerais          3           SE       Sudeste
17  32    ES       Espírito Santo          3           SE       Sudeste
18  33    RJ       Rio de Janeiro          3           SE       Sudeste
19  35    SP            São Paulo          3           SE       Sudeste
20  41    PR               Paraná          4            S           Sul
21  42    SC       Santa Catarina          4            S           Sul
22  43    RS    Rio Grande do Sul          4            S           Sul
23  50    MS   Mato Grosso do Sul          5           CO  Centro-Oeste
24  51    MT          Mato Grosso          5           CO  Centro-Oeste
25  52    GO                Goiás          5           CO  Centro-Oeste
26  53    DF     Distrito Federal          5           CO  Centro-Oeste

Alerta de erro

In [ ]:
from datetime import datetime
from plyer import notification

def alerta(erro):
    '''
        Alerta de falha de carregamento de base de dados
    '''
    now = str(datetime.now())

    notification.notify(
            title= 'Aviso de erro',
            message= f'Falha no carregamento da base de dados',
            app_name='Alerta',
            timeout=10
        )

alerta('erro')